/* -------------------------------- ABOUT -------------------------------- */

/* ----------------------------------------------------------------
-------------------------------- GENERAL --------------------------------
---------------------------------------------------------------- */

#about {
  height: 500px;
  position: relative;
  background-color: $white;
}

.about-content {
  color: $asphalt;
  max-width: 550px;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100px;
    opacity: 0.74;
    padding-top: 15px;
  }
}

/* ----------------------------------------------------------------
-------------------------------- TEXT --------------------------------
---------------------------------------------------------------- */

.description {
  margin-top: 10px;
  p {
    letter-spacing: 0.04em;
    word-spacing: 0.02em;
    font-size: 15px;
    line-height: 1.6em;
    font-family: $open-sans;
  }
}