/* ----------------------------------------------------------------
-------------------------------- TEXT
---------------------------------------------------------------- */

h1, h2, h3, h4, h5, p, a, div, li, button, .btn, input, textarea {
	margin: 0px;
  // color: palette(slate, base);
  font-family: GothamBook;
  @include font-smoothing(antialiased);
  line-height: 1.8em;
  font-size: 15px;
  letter-spacing: .02em;
  font-weight: $book;
  font-style: normal;
  text-transform: none;
  color: black;
}

p, input, textarea {
  font-size: 16px;
  font-family: 'Droid Serif', serif;  
  line-height: 1.8em;
  letter-spacing: 0.02em;
}

p.p--dark {
  color: palette(slate, base); 
  font-family: GothamMedium; 
}

h1 {
  font-size: 52px;
  font-family: GothamBold;
  line-height: 1.4em;
  letter-spacing: 0px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  // font-family: GothamBook;
  font-size: 21px;
  // line-height: 1.2em;
  // letter-spacing: 0.03em;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}

h5 {
  font-size: 17px;
  font-family: 'Droid Serif', serif;
  color: palette(slate, mid-light);   
  line-height: 1.6em;
  letter-spacing: 0.02em;
  a {
    font-size: 17px;
  }
}

.heavy-text {
  // text-transform: uppercase;
  font-family: GothamBold;
  letter-spacing: 0.04em;
}

/* ----------------------------------------------------------------
-------------------------------- LINK
---------------------------------------------------------------- */

a {
  color: $coral;
  text-decoration: none;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  &:hover, &:focus, &:active {
    cursor: pointer;
    opacity: .8;
    outline: 0;
  }
}

.slide-hover {
  display: inline-block;
  color: palette(slate, base) !important;
  font-weight: normal;
  &:after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .3s ease, background-color .3s ease;
  }
  &:hover:after, .slide-hover--active {
    width: 100%;
    background: palette(slate, base);
  }
}

.cl-effect-2 a {
  font-size: 14px !important;
  font-family: GothamBold !important;
  font-weight: normal !important;
  color: $white;
  line-height: 46px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  text-align: center;
}

.cl-effect-2 a span {
  position: relative;
  display: inline-block;
  padding: 0px 28px;
  background: palette(jelly-bean, mid-light);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: palette(jelly-bean, mid-dark);
  content: attr(data-hover);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
  -webkit-transform: rotateX(90deg) translateY(-22px);
  -moz-transform: rotateX(90deg) translateY(-22px);
  transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
  background: palette(jelly-bean, light); 
}