/* ----------------------------------------------------------------
-------------------------------- TEXT
---------------------------------------------------------------- */

h1, h2, h3, h4, h5, p, a, div, li, button, .btn, input, textarea {
	margin: 0px;
  font-family: GothamBook;
  @include font-smoothing(antialiased);
  line-height: 1.8em;
  letter-spacing: .02em;
  font-weight: $book;
  font-style: normal;
  text-transform: none;
  color: black;
}

p, input, textarea {
  font-size: 16px;
  font-family: 'Droid Serif', serif;
}

p.p--dark {
  color: palette(slate, base); 
  font-family: GothamMedium; 
}

h1 {
  font-size: 52px;
  font-family: GothamBold;
  line-height: 1.4em;
  letter-spacing: 0px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
}

h5 {
  font-size: 17px;
  font-family: 'Droid Serif', serif;
  color: palette(slate, mid-light);   
  line-height: 1.6em;
  letter-spacing: 0.02em;
  a {
    font-size: 17px;
  }
}

.heavy-text {
  font-family: GothamBold;
  letter-spacing: 0.04em;
}

/* ----------------------------------------------------------------
-------------------------------- LINK
---------------------------------------------------------------- */

a {
  color: $coral;
  text-decoration: none;
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  &:hover, &:focus, &:active {
    cursor: pointer;
    opacity: .8;
    outline: 0;
  }
}