
/*****************************************************************/
/*************************** UNIVERSAL ***************************/
/*****************************************************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/****************************************************************/
/**************************** HEADER ****************************/
/****************************************************************/

/* SOCIAL MEDIA & ORDER ONLINE */

#social {
  margin-left: 125px;
  float: left;
  margin-top: 7.5px;
}

.social_icon a img {
  height: 17.5px;
}

.social_icon a img:hover {
  opacity: .85;
}

#github {
  position: relative;
  display: inline;
  padding-right: 10px;
}

#facebook {
  position: relative;
  display: inline;
}

#twitter {
  position: relative;
  display: inline;
  margin-left: 10px;
}

#instagram {
  position: relative;
  display: inline;
  margin-left: 10px;
}

.header {
  display: inline;
  margin-top: 10px;
}

#main_nav_bar {  
  float: right;
  margin-right: 110px;
}

#main_nav_bar a {
  text-decoration: none;
  color: #555;
  font-size: 17.5px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

#main_nav_bar a:hover {
  opacity: .85;
}

#main_button {
  padding-right: 0px;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  opacity: .9;

  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header.sticky {
  z-index: 1;
}

#headline {
  background: url(http://i.imgur.com/L41gisR.jpg);
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 225px;
  padding-bottom: 125px;
}

#rosa_pergams img {
  width: 500px;
  opacity: .95;
  display: block;
  margin: 0 auto;
}

/****************************************************************/
/**************************** FOOTER ****************************/
/****************************************************************/

footer {
  font-family: 'PT Sans Narrow';
  color: #777;
  padding: 25px 0px;
  margin: 0px;
  font-size: 15px;
  border-top: 1.5px solid #E0E0E0;
  text-align: center;
}

/**************************************************************/
/**************************** HOME ****************************/
/**************************************************************/

/* TAGLINE */

#tagline {
  font-family: 'Josefin Sans', sans-serif;
  margin: 75px 125px;
  text-transform: uppercase;  
  text-align: center; 
}

#tagline_1 {
  font-size: 50px;
  padding-bottom: 15px;
  color: #333;
}

#tagline_2 {
  font-size: 30px;
  color: #555;
}

/*****************************************************************/
/************************* CONTACT *************************/
/*****************************************************************/

#contact_info {
  margin-right: 125px;
  margin-left: 125px;
  margin-bottom: 75px;
}

.contact_img {
  padding-top: 0px;
  height: 100px;
  opacity: .75;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -25px;
}

.contact_method {
  margin-bottom: 50px;
}

.contact_method:hover {
  opacity: .65;
}

.contact_method_description {
  font-family: 'PT Sans Narrow';
  text-align: center;
  color: #555;
}

/*****************************************************************/
/************************* MEDIA QUERIES *************************/
/*****************************************************************/

@media (max-width: 500px) {
  #rosa_pergams img {
    width: 300px; 
  }
}   

/****************************************************************/
/*************************** CLEARFIX ***************************/
/****************************************************************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */