
/*****************************************************************/
/*************************** UNIVERSAL ***************************/
/*****************************************************************/

body {
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/****************************************************************/
/**************************** HEADER ****************************/
/****************************************************************/

/* SOCIAL MEDIA & ORDER ONLINE */

#social {
  margin-left: 125px;
}

.social_icon a img {
  height: 20px;
  margin-top: 5px;
}

.social_icon a img:hover {
  opacity: .85;
}

#github {
  position: relative;
  display: inline;
  padding-right: 10px;
}

#facebook {
  position: relative;
  display: inline;
}

#twitter {
  position: relative;
  display: inline;
  margin-left: 10px;
}

#instagram {
  position: relative;
  display: inline;
  margin-left: 10px;
}

.header {
  display: inline;
  margin-top: 10px;
}

#main_nav_bar {  
  float: right;
  margin-right: 110px;
}

#main_nav_bar a {
  text-decoration: none;
  color: #555;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

#main_nav_bar a:hover {
  opacity: .85;
}

#main_button {
  padding-right: 0px;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #fff;
  opacity: .9;

  // set animation
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

header.sticky {
  z-index: 1;
}

#headline {
  background: url(http://i.imgur.com/L41gisR.jpg);
  font-style: 'Josefin Sans', sans-serif;
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 200px;
  display: block;
  margin: 0 auto;
}

#rosa_pergams {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 75px;
  text-align: center;
  color: #F8F8F8;
  padding: 65px 50px;
  margin-left: 27.5%;
  margin-right: 27.5%;
  border: 10px solid #F8F8F8 ;
}

/****************************************************************/
/**************************** FOOTER ****************************/
/****************************************************************/

footer {
  font-family: 'PT Sans Narrow';
  color: #777;
  padding: 25px 0px;
  margin: 0px 125px;
  font-size: 15px;
  border-top: 1.5px solid #E0E0E0;
  text-align: center;
}

/**************************************************************/
/**************************** HOME ****************************/
/**************************************************************/

/* TAGLINE */

#tagline {
  font-family: 'Josefin Sans', sans-serif;
  margin: 75px 125px;
  text-transform: uppercase;  
  text-align: center; 
}

#tagline_1 {
  font-size: 50px;
  padding-bottom: 15px;
  color: #333;
}

#tagline_2 {
  font-size: 30px;
  color: #555;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */