/* -------------------------------- MAIN STYLESHEET -------------------------------- */
body, html {
  overflow: hidden;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased; }

html {
  height: 100%; }

body {
  min-height: 100%;
  height: auto;
  position: relative; }

.loaded {
  visibility: hidden; }

::-webkit-scrollbar {
  display: none; }

::-moz-scrollbar {
  display: none; }

::-ms-scrollbar {
  display: none; }

/* -------------------------------- HEADER -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- HEADER --------------------------------
---------------------------------------------------------------- */
header {
  display: inline-block;
  padding: 0px 10px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px; }
  header a {
    color: white; }
    header a h1, header a h2 {
      letter-spacing: 0.08em;
      font-weight: 400; }
    header a h1 {
      padding: .525em 10px .5em 10px;
      line-height: 1.2em;
      font-size: 45px;
      border: 6px solid white; }
    header a h2 {
      margin: 1.7em auto 0px auto;
      font-size: 20px; }

/* ----------------------------------------------------------------
-------------------------------- ARROW --------------------------------
---------------------------------------------------------------- */
section.arrow-wrapper {
  text-align: center; }

.arrow {
  margin: 0px; }

.arrow {
  display: inline-block;
  margin-left: -50px;
  margin-bottom: 25px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.arrow a {
  width: 40px;
  height: 40px;
  position: absolute; }

.arrow a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  content: '';
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9); }

.arrow .icon-wrap {
  position: relative;
  display: block;
  margin: 14% 0 0 14%;
  width: 80%;
  height: 80%; }

.arrow .icon-wrap::before,
.arrow .icon-wrap::after {
  position: absolute;
  left: 25%;
  width: 3px;
  height: 50%;
  background: white;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

.arrow .icon-wrap::before {
  -webkit-transform: translateX(-50%) rotate(30deg);
  -moz-transform: translateX(-50%) rotate(30deg);
  -ms-transform: translateX(-50%) rotate(30deg);
  transform: translateX(-50%) rotate(30deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%; }

.arrow .icon-wrap::after {
  top: 50%;
  -webkit-transform: translateX(-50%) rotate(-30deg);
  -moz-transform: translateX(-50%) rotate(-30deg);
  -ms-transform: translateX(-50%) rotate(-30deg);
  transform: translateX(-50%) rotate(-30deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0; }

.arrow a:hover::before {
  opacity: 1;
  border: 2px solid white;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.arrow a:hover .icon-wrap::before,
.arrow a:hover .icon-wrap::after {
  background: white; }

.arrow a:hover .icon-wrap::before {
  -webkit-transform: translateX(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg); }

.arrow a:hover .icon-wrap::after {
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg); }

/* ----------------------------------------------------------------
-------------------------------- MEDIA QUERIES --------------------------------
---------------------------------------------------------------- */
@media only screen and (min-width: 480px) {
  header a h1 {
    font-size: 55px;
    padding: .525em .85em .5em .85em; }
  header a h2 {
    font-size: 22px; } }
/* -------------------------------- SIDEBAR -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- TOGGLE ICON --------------------------------
---------------------------------------------------------------- */
nav.nav-animation a {
  margin: 0px 0px 20px 0px; }

nav a {
  margin: 0px 0px 0px 40px;
  position: relative;
  display: block;
  outline: none;
  color: #454545;
  font-size: 18px;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

.nav-animation a {
  overflow: hidden;
  padding: 0px 0px 8px 0px;
  height: 1em; }

.nav-animation a span {
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  transition: transform 0.3s;
  position: relative;
  display: inline-block; }

.nav-animation a span::before {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 100%;
  content: attr(data-hover); }

.nav-animation a:hover span, .nav-animation a:focus span {
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }

.nav-icon, .nav-icon-active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  margin: 55px 60px 0px 0px;
  width: 24px;
  cursor: pointer; }

.nav-icon:after, .nav-icon:before, .nav-icon span, .nav-icon-active:after, .nav-icon-active:before, .nav-icon-active span {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  margin: 5px 0;
  height: 3px;
  content: '';
  background-color: white; }

.nav-icon-active:before {
  -webkit-transform: translateY(8px) rotate(135deg);
  -moz-transform: translateY(8px) rotate(135deg);
  -ms-transform: translateY(8px) rotate(135deg);
  transform: translateY(8px) rotate(135deg); }

.nav-icon-active:after {
  -webkit-transform: translateY(-8px) rotate(-135deg);
  -moz-transform: translateY(-8px) rotate(-135deg);
  -ms-transform: translateY(-8px) rotate(-135deg);
  transform: translateY(-8px) rotate(-135deg); }

.nav-icon-active span {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

/* ----------------------------------------------------------------
-------------------------------- GENERAL --------------------------------
---------------------------------------------------------------- */
a .social_icon, a .social_icon-contact, a, #sidebar ul li a, .blog-nav .project-title {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }

a {
  text-decoration: none; }

#sidebar {
  margin-left: 35px; }

#sidebar ul {
  margin: 60px 0px 0px 0px;
  padding: 0;
  list-style: none; }

html, body, #sb-site, .sb-site-container, .sb-slidebar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

#sb-site {
  position: relative; }

html.sb-scroll-lock.sb-active:not(.sb-static) {
  overflow: hidden; }

/* ----------------------------------------------------------------
-------------------------------- SOCIAL ICONS --------------------------------
---------------------------------------------------------------- */
#social {
  margin: 25px 0px 0px 0px; }

a .social_icon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 1.6em;
  color: #454545;
  padding-right: 15px; }

a .social_icon:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1); }

/* ----------------------------------------------------------------
-------------------------------- CONTAINER --------------------------------
---------------------------------------------------------------- */
#sb-site, .sb-site-container {
  width: 100%;
  position: relative;
  z-index: 1;
  background-color: white; }

/* ----------------------------------------------------------------
-------------------------------- SLIDEBARS --------------------------------
---------------------------------------------------------------- */
.sb-slidebar {
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  -ms-transform: translate(0px);
  transform: translate(0px);
  height: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  z-index: 0;
  display: none;
  background-color: white; }

.sb-left {
  left: 0; }

.sb-right {
  right: 0; }

html.sb-static .sb-slidebar, .sb-slidebar.sb-static {
  position: absolute; }

.sb-slidebar.sb-active {
  display: block; }

.sb-style-overlay {
  z-index: 9999; }

.sb-momentum-scrolling {
  -webkit-overflow-scrolling: touch; }

.sb-slidebar {
  width: 30%; }

.sb-width-thin {
  width: 15%; }

.sb-width-wide {
  width: 45%; }

/* ----------------------------------------------------------------
-------------------------------- MEDIA QUERIES --------------------------------
---------------------------------------------------------------- */
@media (max-width: 480px) {
  .sb-slidebar {
    width: 70%; }

  .sb-width-thin {
    width: 55%; }

  .sb-width-wide {
    width: 85%; } }
@media (min-width: 481px) {
  .sb-slidebar {
    width: 55%; }

  .sb-width-thin {
    width: 40%; }

  .sb-width-wide {
    width: 70%; } }
@media (min-width: 768px) {
  .sb-slidebar {
    width: 40%; }

  .sb-width-thin {
    width: 25%; }

  .sb-width-wide {
    width: 55%; } }
@media (min-width: 992px) {
  .sb-slidebar {
    width: 30%; }

  .sb-width-thin {
    width: 15%; }

  .sb-width-wide {
    width: 45%; } }
@media (min-width: 1200px) {
  .sb-slidebar {
    width: 20%; }

  .sb-width-thin {
    width: 5%; }

  .sb-width-wide {
    width: 35%; } }
/* ----------------------------------------------------------------
-------------------------------- ANIMATION --------------------------------
---------------------------------------------------------------- */
.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
  -webkit-transition-property: -webkit-transform, left, right;
  -moz-transition-property: -moz-transform, left, right;
  -ms-transition-property: -ms-transform, left, right;
  transition-property: transform, left, right;
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -ms-transition: transform 400ms ease;
  transition: transform 400ms ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden; }

/* ----------------------------------------------------------------
-------------------------------- HELPER CLASSES --------------------------------
---------------------------------------------------------------- */
.sb-hide {
  display: none; }

html.sb-active #sb-site, .sb-toggle-left, .sb-toggle-right, .sb-open-left, .sb-open-right, .sb-close {
  cursor: pointer; }

/* ----------------------------------------------------------------
-------------------------------- FIXED POSITION --------------------------------
---------------------------------------------------------------- */
#fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4; }

#fixed-top span.sb-toggle-right {
  float: right; }

/* -------------------------------- PARALLAX -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- GENERAL --------------------------------
---------------------------------------------------------------- */
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  perspective: 300px; }
  .parallax .parallax__group {
    position: relative;
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d; }
    .parallax .parallax__group .parallax__layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }

/* ----------------------------------------------------------------
-------------------------------- BACK LAYER --------------------------------
---------------------------------------------------------------- */
.parallax__layer--base {
  z-index: 4;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

/* ----------------------------------------------------------------
-------------------------------- FRONT LAYER --------------------------------
---------------------------------------------------------------- */
.parallax__layer--back {
  z-index: 3;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 100%), url(../imgs/portrait.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #454545;
  -webkit-transform: translateZ(-300px) scale(2);
  -moz-transform: translateZ(-300px) scale(2);
  -ms-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2); }

/* ----------------------------------------------------------------
-------------------------------- CONTENT --------------------------------
---------------------------------------------------------------- */
.container {
  position: absolute;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* -------------------------------- ABOUT -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- GENERAL --------------------------------
---------------------------------------------------------------- */
#about {
  height: 500px;
  position: relative;
  background-color: white; }

.about-content {
  color: #454545;
  max-width: 550px;
  padding: 0px 10px;
  margin-left: auto;
  margin-right: auto; }
  .about-content img {
    width: 100px;
    opacity: 0.74;
    padding-top: 15px; }

/* ----------------------------------------------------------------
-------------------------------- TEXT --------------------------------
---------------------------------------------------------------- */
.description {
  margin-top: 30px; }
  .description p {
    letter-spacing: 0.04em;
    word-spacing: 0.02em;
    font-size: 15px;
    line-height: 1.6em;
    font-family: "Open Sans", sans-serif; }

/* -------------------------------- PROJECTS -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- GENERAL --------------------------------
---------------------------------------------------------------- */
.projects {
  font-size: 0px;
  padding: 60px 10px 0px 10px;
  color: #454545;
  background-color: #f8f8f8; }
  .projects .project {
    max-width: 940px;
    margin: auto;
    padding-bottom: 60px; }

.project-img, .project-text {
  display: block;
  font-size: 20px; }

/* ----------------------------------------------------------------
-------------------------------- IMAGES --------------------------------
---------------------------------------------------------------- */
.project-img {
  width: 100%; }

.project-img-2 {
  display: none; }

/* ----------------------------------------------------------------
-------------------------------- TEXT --------------------------------
---------------------------------------------------------------- */
.project-text {
  width: 100%;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 400; }
  .project-text .project-title {
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.08em;
    font-weight: 400; }
  .project-text .project-body {
    font-size: 15px;
    line-height: 1.6em;
    font-family: "Open Sans", sans-serif; }

.project-text-right {
  margin-left: 0px; }

.project-text-left {
  margin-right: 0px; }

/* ----------------------------------------------------------------
-------------------------------- MEDIA QUERIES --------------------------------
---------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .projects {
    padding-bottom: 60px; }
    .projects .project {
      padding-bottom: 0px; }

  .project-img, .project-text {
    display: inline-block;
    vertical-align: middle; }

  .project-img {
    width: 46.25%; }

  .project-text {
    width: 46.25%; }

  .project-text-right {
    margin-left: 7.5%; }

  .project-text-left {
    margin-right: 7.5%; }

  .project-img-1 {
    display: none; }

  .project-img-2 {
    display: inline-block; } }
/* -------------------------------- FOOTER -------------------------------- */
/* ----------------------------------------------------------------
-------------------------------- FOOTER --------------------------------
---------------------------------------------------------------- */
footer {
  padding: 50px 10px 40px 10px;
  text-align: center; }
  footer div {
    color: #454545;
    text-decoration: none;
    letter-spacing: 0.04em;
    text-transform: none !important;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif; }
  footer img {
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    opacity: 0.74;
    padding: 0px 3px 4px 3px; }

/*# sourceMappingURL=main.css.map */
