/* --------------------------------
MAIN NAV
-------------------------------- */

.blog-nav, a {
  -o-transition:.26s;
  -ms-transition:.26s;
  -moz-transition:.26s;
  -webkit-transition:.26s;
  transition:.26s;
}

a, .blog-nav ul li a, .tagline_1 {
  text-decoration: none;
}

.tagline_1 a{
  color: #454545;
}

.blog-nav  {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background: rgba(255,255,255,.99);
}

.blog-nav ul {
  text-align: center;
  list-style: none;
  padding: 0px;
}

.blog-nav ul li {
  text-decoration: none;
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Montserrat';
  margin: .8em 18px .8em 18px;
  font-size: 1em;
  letter-spacing: .16em;
}

.blog-nav ul li a {
  color: #454545;
}

.blog-nav ul li a:hover {
  color: #454545;
}

/* --------------------------------
BLOG
-------------------------------- */

.blog-body {
  padding-top: 2em;
}

#barely_any_space {
  height: 1px;
}

.blog_single {
  color: #454545;
}

.blog_single:hover {
  /*color: rgb(225,57,59);*/
}

/* TAGLINE */

.tagline, .content {
  width: 70%;
}

.tagline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: .02em;
  word-spacing: .02em;
  margin: 4em auto 2em auto;
  color: #454545;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.tagline_1 {
  font-size: 2em;
  margin-bottom: .2em;
}

.tagline_2 {
  text-align: center;
  font-size: .8em;
  -webkit-font-smoothing: antialiased;
}

/* CONTENT */

.content {
  text-align: justify;
  color: #454545;
  display: block;
  margin: auto;
  border-bottom: 2px solid #454545;
  font-size: 1em;
  line-height: 1.6em;
  letter-spacing: 0.04em;
  word-spacing: 0.02em;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6em;
  font-family: 'Open Sans';
  -webkit-font-smoothing: antialiased;
}

.content a {
  color: rgb(225,57,59);
}

.blog_post_img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 50%;
}

.blog_post_quote {
  color: #454545;
  padding-left: 1em;
  border-left: .16em solid #454545;
  opacity: .8;
}

/* BLOG POST FOOTER */

.blog_post_footer {
  text-transform: uppercase;
  font-weight: 700;  color: #454545;
  text-align: center;
  font-family: 'Montserrat';
  font-size: .7em;
  letter-spacing: .12em;
  margin: 4em 0px 1em 0px;
}

/* BLOG PAGE NAVIGATION */

#left-arrow-new, #left-arrow, #right-arrow-new, #right-arrow, #right-arrow-old {
  color: #454545;
  font-size: 4em;
  margin: .4em;
}

#footer_nav {
  text-align: center;
  margin: 30px 0px 30px 0px;
  /*margin-bottom: -100px;*/
}

#left-arrow-new, #right-arrow-old {
  opacity: .125;
}

/* BUZZFEED-STYLE BLOG POSTS */

#blog_list_info {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog_list_stuff {
  display: inline-block;
  vertical-align: middle;
}

#blog_list_img {
  width: 175px;
  display: inline-block;
  width:25%;
}

#blog_list_text {
  text-align: justify;
  font-size: 15px;
  display: inline-block;
  color: #454545;
  padding-left: 2.5%;
  width: 71.5%;
}

/* BLOG POST SIGNATURE */

.signature {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
}

/* SINGLE BLOG POST VIEW */

.blog_single:hover {
  /*color: #454545;*/
}

/* --------------------------------
CODE BLOCK
-------------------------------- */

pre {
  font-weight: 100;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  color: #454545;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  font-size: 1em;
  line-height: 1.6em;
}

.inline_code {
  color: #454545;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px 4px;
  white-space: pre;
  font-size: 1em;
}

/* --------------------------------
MEDIA QUERIES
-------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  #tagline, .content {
    width: 768px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #tagline, .content {
    width: 480px;
  }
  .blog-nav ul li {
    margin: 10px 12px 0px 12px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #tagline, .content {
    width: 320px;
  }
  .blog_post_img {
    width: 100%;
  }
  .tagline_1 {
    font-size: 1.5em;
    margin-bottom: .2em;
  }

  .tagline_2 {
    font-size: .8em;
  }
  .blog-nav ul li {
    margin: .8em 10px .8em 10px;
    font-size: .8em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}*/*/