
/*****************************************************************/
/*************************** UNIVERSAL ***************************/
/*****************************************************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/****************************************************************/
/**************************** HEADER ****************************/
/****************************************************************/

/* SOCIAL MEDIA & ORDER ONLINE */

#social {
  margin-left: 50px;
  float: left;
  margin-top: 7.5px;
}

.social_icon a img {
  height: 17.5px;
}

.social_icon a img:hover {
  opacity: .75;
}

#github {
  position: relative;
  display: inline;
  padding-right: 10px;
}

#facebook {
  position: relative;
  display: inline;
}

#twitter {
  position: relative;
  display: inline;
  margin-left: 10px;
}

#instagram {
  position: relative;
  display: inline;
  margin-left: 10px;
}

.header ul li {
  display: inline;
  margin-top: -5px;
}

#home_img {
  display: inline;
  height: 30px;
  vertical-align: top;
  margin-top: -3.5px;
}

#main_nav_bar ul li {
  list-style: none;
  float: right;
  margin-top: -10px;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_nav_bar {
  margin-right: 35px;
}

#main_nav_bar a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_nav_bar ul li a:hover {
  opacity: .75;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#archive {
  opacity: .5;
}

#main_button {
  padding-right: 0px;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f9f9f9;
  opacity: .85;
  z-index: 1;
}

#headline {
 /*background: url(http://i.imgur.com/L41gisR.jpg);*/
  background: url(../imgs/alex&rosa.jpg);
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 275px;
  padding-bottom: 175px;
}

#rosa_pergams a {
  color: #FFF;
}

#rosa_pergams a:hover {
  opacity: 1;
}

#rosa_pergams {
  width: 500px;
  opacity: .95;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  border: 10px solid #fff;
  padding: 75px 10px 60px 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

/****************************************************************/
/**************************** FOOTER ****************************/
/****************************************************************/

footer {
  font-family: 'PT Sans Narrow';
  color: #777;
  padding: 25px 0px;
  margin: 0px;
  margin-top: 75px;
  font-size: 15px;
  border-top: 1.75px solid #E0E0E0;
  text-align: center;
}

#just_space {
  height: 50px;
}

.main_link_text {
  text-transform: uppercase;
  text-align: center;
  color: #666;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

.main_link_img {
  opacity: .65;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.main_visual_link {
  padding: 45px 0px 45px 0px;
  width: 25%;
  height: 25%;
  display: inline-block;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  margin: 40px -2.5px 0px -3px;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.main_visual_link:hover {
  background: #F0F0F0;
  opacity: .65;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_visual_links {
  text-align: center;
}

#icon_credits a {
  color: #D0D0D0;
  margin-left: 15px;
}

#new_blog_info {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: -45px;
}

.new_blog_stuff {
  display: inline-block;
  width: 68%;
  vertical-align: middle;
}

#new_blog_img {
  margin-right: 5%;
  width: 23%;
  opacity: .85;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#new_blog_img:hover {
  opacity: .5;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#new_blog_text {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  font-size: 17.5px;
  display: inline-block;
}

.new_blog_post_footer {
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  font-size: 12.5px;
  color: #999;
  margin-right: 5px;
}

#new_tagline {
  font-family: 'Source Sans Pro', sans-serif;
}

.archive_info {
  padding: 30px 50px;
  border-top: 1px solid #E0E0E0;
}

.archive_stuff {
  display: inline-block;
  width: 50%;
}

.archive_img {
  margin-right: 5%;
  width: 23%;
  opacity: .85;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.archive_img:hover {
  opacity: .5;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.archive_text {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  font-size: 17.5px;
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.archive_post_footer {
  font-family: 'PT Sans Narrow';
  text-transform: uppercase;
  font-size: 12.5px;
  color: #999;
}

/**************************************************************/
/**************************** BLOG ****************************/
/**************************************************************/

/* TAGLINE */

#tagline {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 50px 125px 15px 125px;
  text-align: center;
}

#tagline_1 {
  font-size: 60px;
  color: #777;
}

#tagline_2 {
  font-size: 40px;
  color: #777;
}

#content {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  margin-right: 250px;
  margin-left: 250px;
  padding-bottom: 25px;
  border-bottom: 1.75px solid #E0E0E0;
  font-size: 17.5px;
}

/*#nothing {
  background: #D7D6C4;
  background: #9D8773;
  background: #DCBA75;
  background: #743E46;
  background: #BA6C56;
}*/

.blog_post_img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 400px;
}

.blog_post_quote {
  padding-left: 25px;
  border-left: 1.75px solid #555;
}

a {
  color: rgb(188, 155, 116);
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

a:hover {
  opacity: .65;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.blog_post_footer {
  text-transform: uppercase;
  font-size: 12.5px;
  color: #999;
  text-align: right;
}

#blog_single {
  color: #777
}

.arrow {
  display: inline-block;
  width: 50px;
  margin-bottom: -60px;
  margin-top: 25px;
  padding: 15px;
  opacity: .5;
}

#footer_nav {
  text-align: center;
}

#left-arrow-new, #right-arrow-old {
  opacity: .125;
}

#blog_list_info {
  text-align: center;
  margin-top:25px;
  margin-bottom:25px;
}

.blog_list_stuff {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
}

#blog_list_img {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 250px;
  display: inline-block;
}

#blog_list_text {
  margin-left: 10px;
  margin-left: 10px;
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  font-size: 17.5px;
  display: inline-block;
  line-height: 20px;
}

.twitter_line {
  line-height: 0px;
}

.number {
}

.signature {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
}

/****************************************************************/
/************************** CODE BLOCK **************************/
/****************************************************************/

pre {
  font-size: .9em;
  font-weight: 100;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  color: #666;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 22.5px;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

.inline_code {
  font-size: .9em;
  color: #666666;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px 4px;
  white-space: pre;
}

/****************************************************************/
/*************************** PROJECTS ***************************/
/****************************************************************/

.project_text {
  text-align: center;
  color: #555;
  font-size: 25px;
  font-family: 'PT Sans Narrow';
}

.project_img {
  opacity: .85;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.5px;
}

.project_img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.project_img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.project {
  width: 25%;
  height: 25%;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 25px;
  vertical-align: top;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

#projects {
  text-align: center;
  margin-top: 25px;
}

/**************************************************************/
/**************************** ABOUT ****************************/
/**************************************************************/

#about_info {
  text-align: center;
}

.about_stuff {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
}

#about_img {
  margin-top: 20px;
  margin-right: 25px;
  width: 400px;
  display: inline-block;
}

#about_text {
  margin-left: 25px;
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  font-size: 17.5px;
  display: inline-block;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

/*****************************************************************/
/************************* CONTACT *************************/
/*****************************************************************/

#contact_info {
  margin-right: 125px;
  margin-left: 125px;
  margin-bottom: 75px;
  margin-top: 75px;
}

.contact_img {
  padding-top: 0px;
  height: 100px;
  opacity: .75;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -25px;
}

.contact_method {
  margin-bottom: 50px;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.contact_method:hover {
  opacity: .9;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.contact_method_description {
  font-family: 'PT Sans Narrow';
  text-align: center;
  color: #555;
}

/*****************************************************************/
/************************* MEDIA QUERIES *************************/
/*****************************************************************/

@media (max-width: 1000px) {
  #content, #tagline {
    margin-right: 50px;
    margin-left: 50px;
  }
  #main_nav_bar {
    margin-right: 35px;
    margin-left: 35px;
  }
  #social {
    margin-left: 50px;
  }
  #about_info {
    margin-right: 50px;
    margin-left: 50px;
  }
  #about_img {
    margin-right: 0px;
  }
  #about_text {
    margin-left: 0px;
  }
  .main_visual_link {
    width: 50%;
    margin-top: 0px;
  }
  .new_blog_stuff {
    width: 100%;
  }
  #new_blog_img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
    margin-bottom: 35px;
  }
}

@media (max-width: 800px) {
  .project {
    width: 30%;
    height: 30%;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 25px;
    vertical-align: top;
  }
  #rosa_pergams {
    width: 350px;
    opacity: .95;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    border: 5px solid #fff;
    padding: 50px 5px 45px 5px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .archive_stuff {
    width: 100%;
  }
  .archive_text {
    text-align: center;
    display: block;
    vertical-align: none;
    width: 100%;
    margin-bottom: -5px;
  }
  .archive_text p {
    display: none;
  }
  .archive_img {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 35px;
  }
  .archive_post_footer {
    display: none;
  }
}

@media (max-width: 500px) {

  #main_nav_bar ul li a {
    margin-left: 7.5px;
    margin-right: 7.5px;
    font-size: 16.5px;
  }

  #social {
    margin-left: 50px;
  }
  #tagline_1 {
    font-size: 40px;
  }
  #tagline_2 {
    font-size: 20px;
  }
  .blog_post_img {
    max-width: 100%;
  }
  #about_img {
    width: 100%;
  }
  #about_text {
    width: 100%;
  }
  #blog_list_img {
    width: 90%;
  }
  #blog_list_text {
    width: 90%;
  }
  .project {
    width: 85%;
    height: 85%;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  .main_visual_link {
    padding-top: 35px;
    padding-bottom: 35px;
  }
  #new_blog_img {
    margin-right: 0px;
    width: 100%;
    margin-bottom: 35px;
  }
}

/****************************************************************/
/*************************** CLEARFIX ***************************/
/****************************************************************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

