
/*****************************************************************/
/*************************** UNIVERSAL ***************************/
/*****************************************************************/

body {
  margin: 0;
}

a {
  text-decoration: none;
}

/****************************************************************/
/**************************** MAIN NAV ****************************/
/****************************************************************/

/* SOCIAL MEDIA */

#social {
  margin-left: 50px;
  float: left;
  margin-top: 5px;
}

.social_icon a img {
  height: 17.5px;
}

.social_icon a img:hover {
  opacity: .75;
}

#github {
  position: relative;
  display: inline;
  padding-right: 10px;
}

#facebook {
  position: relative;
  display: inline;
}

#twitter {
  position: relative;
  display: inline;
  margin-left: 10px;
}

#instagram {
  position: relative;
  display: inline;
  margin-left: 10px;
}

/* PAGE LINKS */

.header ul li {
  display: inline;
  /*margin-top: -5px;*/
}

#home_img {
  display: inline;
  height: 30px;
  /*vertical-align: top;*/
  margin-top: -8.5px;
  margin-bottom: -5px;
}

#main_nav_bar ul li {
  list-style: none;
  float: right;
  padding-top: 4px;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_nav_bar {
  margin-right: 35px;
  margin-bottom: -12.5px;
}

#main_nav_bar a {
  text-decoration: none;
  color: #555;
  font-size: 20px;
  margin-left: 12.5px;
  margin-right: 12.5px;
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_nav_bar ul li a:hover {
  color: rgb(188, 155, 116);
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_button {
  padding-right: 0px;
}

header {
  position: fixed;
  display: block;
  width: 100%;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  background: #FFF;
  opacity: .95;
  z-index: 1;
  border-bottom: 1.5px solid #E5E5E5;
}

/****************************************************************/
/************************** COVER IMAGE **************************/
/****************************************************************/

#headline {
 /*background: url(http://i.imgur.com/L41gisR.jpg);*/
  background: url(../imgs/brooklyn.png);
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 325px;
  padding-bottom: 175px;
}

#rosa_pergams a {
  color: #FFF;
}

#rosa_pergams a:hover {
  opacity: 1;
}

#rosa_pergams {
  width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 75px;
  border: 10px solid #fff;
  padding: 75px 10px 60px 10px;
  font-family: 'Josefin Sans', sans-serif;
}

/****************************************************************/
/************************** VISUAL NAVIGATION BAR **************************/
/****************************************************************/

.main_link_text {
  text-transform: uppercase;
  text-align: center;
  color: #666;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.main_link_img {
  opacity: .65;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.main_visual_link {
  padding: 45px 0px 45px 0px;
  width: 25%;
  min-height: 200px;
  display: inline-block;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  margin: 40px -2.5px 0px -3px;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

.main_visual_link:hover {
  background: #E0E0E0;
  opacity: .65;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

#main_visual_links {
  text-align: center;
}

/****************************************************************/
/**************************** FOOTER ****************************/
/****************************************************************/

footer {
  font-family: 'PT Sans Narrow';
  color: #777;
  padding: 25px 0px;
  margin: 0px;
  margin-top: 75px;
  font-size: 15px;
  border-top: 1.75px solid #E0E0E0;
  text-align: center;
}

#icon_credits a {
  color: #D0D0D0;
  margin-left: 15px;
}

/**************************************************************/
/**************************** BLOG ****************************/
/**************************************************************/

#just_space {
  height: 50px;
}

#blog_single {
  color: #555;
  text-transform: uppercase;
}

/* TAGLINE */

#tagline {
  font-family: 'Josefin Sans', sans-serif;
  margin: 75px 125px 25px 125px;
  text-align: center;
}

#tagline_1 {
  font-size: 65px;
  color: #555;
  text-transform: uppercase;
}

#tagline_2 {
  font-size: 35px;
  color: #666;
  margin-top: 5px;
  text-transform: uppercase;
}

/* CONTENT */

#content {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  margin-right: 250px;
  margin-left: 250px;
  padding-bottom: 25px;
  border-bottom: 1.75px solid #E0E0E0;
  font-size: 17.5px;
}

.blog_post_img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 400px;
}

.blog_post_quote {
  padding-left: 25px;
  border-left: 1.75px solid #555;
}

a {
  color: rgb(188, 155, 116);
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

a:hover {
  opacity: .65;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

/* BLOG POST FOOTER */

.blog_post_footer {
  text-transform: uppercase;
  font-size: 12.5px;
  color: #999;
  text-align: right;
}

/* BLOG PAGE NAVIGATION */

.arrow {
  display: inline-block;
  width: 50px;
  margin-bottom: -60px;
  margin-top: 25px;
  padding: 15px;
  opacity: .5;
}

#footer_nav {
  text-align: center;
}

#left-arrow-new, #right-arrow-old {
  opacity: .125;
}

/* BUZZFEED-STYLE BLOG POSTS */

#blog_list_info {
  text-align: center;
  margin-top:25px;
  margin-bottom:25px;
}

.blog_list_stuff {
  display: inline-block;
  width: 55%;
  vertical-align: middle;
}

#blog_list_img {
  margin-top: 0px;
  margin-right: 10px;
  margin-left: 10px;
  width: 250px;
  display: inline-block;
}

#blog_list_text {
  margin-left: 10px;
  margin-left: 10px;
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #555;
  font-size: 17.5px;
  display: inline-block;
  line-height: 20px;
}

.twitter_line {
  line-height: 0px;
}

/* BLOG POST SIGNATURE */

.signature {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
}

/****************************************************************/
/************************** CODE BLOCK **************************/
/****************************************************************/

pre {
  font-size: .9em;
  font-weight: 100;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  color: #666;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 22.5px;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

.inline_code {
  font-size: .9em;
  color: #666666;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px 4px;
  white-space: pre;
}

/****************************************************************/
/*************************** PROJECTS ***************************/
/****************************************************************/

.project_text {
  text-align: center;
  color: #555;
  font-size: 25px;
  font-family: 'PT Sans Narrow';
}

.project_img {
  opacity: .85;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2.5px;
}

.project_img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.project_img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

.project {
  width: 25%;
  height: 25%;
  display: inline-block;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-top: 25px;
  vertical-align: top;
  -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
  transition: 1s;
}

#projects {
  text-align: center;
  margin-top: 25px;
}

/**************************************************************/
/**************************** ABOUT ****************************/
/**************************************************************/

#headline_2 {
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.65) 100%), url(../imgs/rosa.png) no-repeat;
  background-position: 50% 50%;
  border-bottom: 1px solid #F0F0F0;
  background-size: cover;
  padding-top: 155px;
  padding-bottom: 200px;
  text-align: center;
  margin-top: 75px;
}

#loves {
  display: block;
  margin: 0 auto;
  font-size: 55px;
  font-family: 'Josefin Sans', sans-serif;
  color: #FFF;
}

.love {
  display: inline-block;
  vertical-align: middle;
}


#love_img {
  width: 200px;
  -webkit-filter: invert(100%) !important;
  margin-right: 20px;
  padding-top: 45px;
}

/*****************************************************************/
/************************* CONTACT (ALSO INLINE) *************************/
/*****************************************************************/

#contact {
  margin: 100px 0px 0px 0px;
}

#contact_tagline #tagline_1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #555;
  margin-top: 35px;
}

#contact_tagline #tagline_2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color: #555;
}

#contact_tagline {
  margin: 0px 50px 25px 50px;
}

#email img {
  height: 175px;
}

#phone img {
  /*margin-bottom: 7.5px;*/
  height: 175px;
}

#contact_info {
  text-align: center;
}

/*****************************************************************/
/************************* MEDIA QUERIES *************************/
/*****************************************************************/

@media (max-width: 1000px) {
  #content, #tagline {
    margin-right: 50px;
    margin-left: 50px;
  }
  #main_nav_bar ul li a {
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  .main_visual_link {
    width: 50%;
    margin-top: 0px;
  }
  #loves {
    font-size: 30px;
  }
  #love_img {
    width: 150px;
    margin-right: 10px;
    padding-top: 30px;
  }
}

@media (max-width: 800px) {
  #about_button {
    display: none;
  }
  .project {
    width: 30%;
    height: 30%;
    display: inline-block;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 25px;
    vertical-align: top;
  }
  #rosa_pergams {
    width: 350px;
    font-size: 50px;
    border: 5px solid #fff;
    padding: 50px 5px 35px 5px;
  }
  .contact_method {
    display: block;
  }
}

@media (max-width: 500px) {
  #projects_button, #about_button, #contact_button {
    display: none;
  }
  #tagline_1 {
    font-size: 40px;
  }
  #tagline_2 {
    font-size: 20px;
  }
  .blog_post_img {
    max-width: 100%;
  }
  #blog_list_img {
    width: 90%;
  }
  #blog_list_text {
    width: 90%;
  }
  .project {
    width: 85%;
    height: 85%;
    margin-left: 7.5px;
    margin-right: 7.5px;
  }
  .main_visual_link {
    padding-top: 35px;
    padding-bottom: 35px;
    min-height: 150px;
  }
  #email img {
    width: 150px;
    height: auto;
  }
  #phone img {
    width: 150px;
    height: auto;
  }
  #loves {
    font-size: 20px;
  }
  #love_img {
    width: 100px;
    padding-top: 20px;
  }
}


/****************************************************************/
/*************************** CLEARFIX ***************************/
/****************************************************************/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix{ zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */