/*****************************************************************/
/*************************** UNIVERSAL ***************************/
/*****************************************************************/

#sidebar ul li a, a .social_icon {
  -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  transition:.25s;
}

body, html {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.body {
  margin-top: 50%;
}


.body-white {
  background-color: #fff;
}

.plant {
  width: 80px;
  display: block;
  margin: auto;
  padding-bottom: 26px;
}

.description p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 24px auto;
  line-height: 24px;
  letter-spacing: 1.6px;
  font-weight: 400;
  width: 700px;
  text-align: center;
  color: #444;
}

/*****************************************************************/
/*************************** SIDEBAR ***************************/
/*****************************************************************/

.scroll-down-arrow {
  color: #fff;
  font-size: 38px;
  text-align: center;
  margin-bottom: 50px;
}

.container {
  position: absolute;
  height: 100%;
  overflow: hidden;
  width: 100%;
  right: 0;
  -webkit-transition:  right 0.4s ease-in-out;
  -moz-transition:  right 0.4s ease-in-out;
  -ms-transition:  right 0.4s ease-in-out;
  -o-transition:  right 0.4s ease-in-out;
  transition:  right 0.4s ease-in-out;
}

.container.open-sidebar {
  right: 240px;
  overflow: visible;
}

#sidebar {
  position: absolute;
  width: 240px;
  height: 100%;
  right: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  margin: 0;
}

#sidebar ul li a {
  font-size: 16px;
  padding: 36px 15px 0px 58px;
  color: #222;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}

#sidebar ul li:hover a {
  opacity: 0;
}

.main-content #sidebar-toggle .bar:last-child{
   margin-bottom: 0;
 }

/* SOCIAL MEDIA */

#social {
  padding: 42px 15px 15px 58px;
  float: left;
}

 a .social_icon {
  font-size: 22px;
  color: #222;
  padding-right: 12px;
}

a .social_icon:hover {
  opacity: 0;
}

/* PAGE LINKS */

.bars {
  color: #fff;
  font-size: 26px;
  margin-right: 75px;
  float: right;
}

header {
  position: absolute;
  display: block;
  width: 100%;
  z-index: 1;
  margin-top: 35px;
}

/****************************************************************/
/************************** COVER IMAGE **************************/
/****************************************************************/

#headline {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 50%,rgba(0,0,0,0.5) 100%), url(../imgs/succulent.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 20%;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
}

#rosa_pergams a {
  color: #FFF;
}

#rosa_pergams a:hover {
  opacity: 1;
}

#rosa_pergams {
  width: 600px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 68px;
  border: 6px solid #fff;
  text-transform: uppercase;
  padding: 50px 40px 30px 40px;
  letter-spacing: 4px;
  font-family: 'Josefin Sans', sans-serif;
}

.web-dev {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
  padding-bottom: 30px;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 2px;
  text-align: center;
  margin: 40px auto 0px auto;
}

.border-bottom {
  border-bottom: 4px solid #fff;
  width: 150px;
  margin: 0px auto 0px auto;
}

/**************************************************************/
/**************************** BLOG ****************************/
/**************************************************************/

#just_space {
  height: 50px;
}

#just_less_space {
  height: 25px;
}

#barely_any_space {
  height: 1px;
}



#blog_single {
  color: #555;
  text-transform: uppercase;
}

#blog_single:hover {
  color: rgb(246,83,70);
}

/* TAGLINE */

#tagline {
  font-family: 'Josefin Sans', sans-serif;
  margin: 75px 125px 25px 125px;
  text-align: center;
}

#tagline_1 {
  font-size: 65px;
  color: #555;
  text-transform: uppercase;
}

#tagline_2 {
  font-size: 35px;
  color: #555;
  margin-top: 5px;
  text-transform: uppercase;
}

/* CONTENT */

#content {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #333;
  margin-right: 250px;
  margin-left: 250px;
  padding-bottom: 25px;
  border-bottom: 1.75px solid #E0E0E0;
  font-size: 17.5px;
}

.blog_post_img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 400px;
}

.blog_post_quote {
  padding-left: 25px;
  border-left: 1.75px solid #555;
}

a {
  color: rgb(246,83,70);
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

a:hover {
  opacity: .85;
  -webkit-transition: .75s; /* For Safari 3.1 to 6.0 */
  transition: .75s;
}

/* BLOG POST FOOTER */

.blog_post_footer {
  text-transform: uppercase;
  font-size: 12.5px;
  color: #999;
  text-align: right;
}

/* BLOG PAGE NAVIGATION */

.arrow {
  display: inline-block;
  width: 50px;
  margin-bottom: -60px;
  margin-top: 25px;
  padding: 15px;
  opacity: .5;
}

#footer_nav {
  text-align: center;
}

#left-arrow-new, #right-arrow-old {
  opacity: .125;
}

/* BUZZFEED-STYLE BLOG POSTS */

#blog_list_info {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog_list_stuff {
  display: inline-block;
  vertical-align: middle;
}

#blog_list_img {
  width: 175px;
  display: inline-block;
  width:25%;
}

#blog_list_text {
  font-family: 'PT Sans Narrow';
  text-align: justify;
  color: #222;
  font-size: 17.5px;
  display: inline-block;
  line-height: 20px;
  padding-left: 2.5%;
  width: 71.5%;
}

/* BLOG POST SIGNATURE */

.signature {
  font-family: 'Reenie Beanie', cursive;
  font-size: 25px;
}

/****************************************************************/
/************************** CODE BLOCK **************************/
/****************************************************************/

pre {
  font-size: .9em;
  font-weight: 100;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  color: #666;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 22.5px;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
}

.inline_code {
  font-size: .9em;
  color: #666666;
  font-family: Courier, Monospace !important;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 2px 4px;
  white-space: pre;
}

/*****************************************************************/
/************************* MEDIA QUERIES *************************/
/*****************************************************************/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}