/* Link --------------------------------------------------------
---------------------------------------------------------------- */

.link, a {
	cursor: pointer;
	text-decoration: none;
	@include transition(all .2s);
	&:hover {
		opacity: 0.8;
	}
}
