.nav--desktop {
	display: none;
}

.nav--mobile {
	display: inline-block;
}

/* Media Query -------------------------------------------------
---------------------------------------------------------------- */

@media only screen and (min-width : 768px) {
	.nav--desktop {
		display: inline-block;
	}
	.nav--mobile {
		display: none;
	}
}

.is-visible {
	@include transform(translate3d(0, 0, 0));
	z-index: 1000;
}
