/* ----------------------------------------------------------------
-------------------------------- SCROLLBAR
---------------------------------------------------------------- */

::-webkit-scrollbar { 
 display: none; 
}

::-moz-scrollbar { 
 display: none; 
}

::-ms-scrollbar { 
 display: none; 
}

/* ----------------------------------------------------------------
-------------------------------- HIGHLIGHT
---------------------------------------------------------------- */

::selection {
  background: $coral;
  color: $white;
}

::-moz-selection {
  background: $coral;
  color: $white;
}

/* ----------------------------------------------------------------
-------------------------------- HIDDEN BACKGROUND
---------------------------------------------------------------- */

html {
 background-color: $coral;
}