/* Alignment ---------------------------------------------------
---------------------------------------------------------------- */

.textAlign-left {
	text-align: left;
}

.textAlign-right {
	text-align: right;
}

.textAlign-center, .button {
	text-align: center;
}
