/* Font Size ---------------------------------------------------
---------------------------------------------------------------- */

.fontSize-xl, h1 {
	font-size: 54px;
	line-height: 67px;
}

.fontSize-l, h2 {
	font-size: 28px;
	line-height: 42px;
}

.fontSize-m, p {
	font-size: 18px;
	line-height: 30px;
}

.fontSize-s, input, select, textarea {
	font-size: 14px;
	line-height: 22px;
}

.fontSize-xs, button {
	font-size: 12px;
	line-height: 12px;
}

.fontSize-xxs {
	// font-size: _px;
	// line-height: _px;
}

.fontSize-xxxs {
	// font-size: _px;
	// line-height: _px;
}
