/* Margin ------------------------------------------------------
---------------------------------------------------------------- */

/* Uniform ----------------------------- */

.margin-0 {
	margin: 0;
}

.margin-xxxs {
	margin: 12px;
}

.margin-xxs {
	margin: 18px;
}

.margin-xs {
	margin: 24px;
}

.margin-s {
	margin: 36px;
}

.margin-m {
	margin: 60px;
}

.margin-l {
	margin: 84px;
}

.margin-xl {
	margin: 126px;
}

/* Individual -------------------------- */

/* None */

.marginTop-0 {
	margin-top: 0;
}

.marginRight-0 {
	margin-right: 0;
}

.marginBottom-0 {
	margin-bottom: 0;
}

.marginLeft-0 {
	margin-left: 0;
}

/* XXX-Small */

.marginTop-xxxs {
	margin-top: 12px;
}

.marginRight-xxxs {
	margin-right: 12px;
}

.marginBottom-xxxs {
	margin-bottom: 12px;
}

.marginLeft-xxxs {
	margin-left: 12px;
}

/* XX-Small */

.marginTop-xxs {
	margin-top: 18px;
}

.marginRight-xxs {
	margin-right: 18px;
}

.marginBottom-xxs {
	margin-bottom: 18px;
}

.marginLeft-xxs {
	margin-left: 18px;
}

/* X-Small */

.marginTop-xs {
	margin-top: 24px;
}

.marginRight-xs {
	margin-right: 24px;
}

.marginBottom-xs {
	margin-bottom: 24px;
}

.marginLeft-xs {
	margin-left: 24px;
}

/* Small */

.marginTop-s {
	margin-top: 36px;
}

.marginRight-s {
	margin-right: 36px;
}

.marginBottom-s {
	margin-bottom: 36px;
}

.marginLeft-s {
	margin-left: 36px;
}

/* Medium */

.marginTop-m {
	margin-top: 60px;
}

.marginRight-m {
	margin-right: 60px;
}

.marginBottom-m {
	margin-bottom: 60px;
}

.marginLeft-m {
	margin-left: 60px;
}

/* Large */

.marginTop-l {
	margin-top: 84px;
}

.marginRight-l {
	margin-right: 84px;
}

.marginBottom-l {
	margin-bottom: 84px;
}

.marginLeft-l {
	margin-left: 84px;
}

/* X-Large */

.marginTop-xl {
	margin-top: 126px;
}

.marginRight-xl {
	margin-right: 126px;
}

.marginBottom-xl {
	margin-bottom: 126px;
}

.marginLeft-xl {
	margin-left: 126px;
}


/* Padding -----------------------------------------------------
---------------------------------------------------------------- */

/* Uniform ----------------------------- */

.padding-0 {
	padding: 0;
}

.padding-xxxs {
	padding: 12px;
}

.padding-xxs {
	padding: 18px;
}

.padding-xs {
	padding: 24px;
}

.padding-s {
	padding: 36px;
}

.padding-m {
	padding: 60px;
}

.padding-l {
	padding: 84px;
}

.padding-xl {
	padding: 126px;
}

/* Individual -------------------------- */

/* None */

.paddingTop-0 {
	padding-top: 0;
}

.paddingRight-0 {
	padding-right: 0;
}

.paddingBottom-0 {
	padding-bottom: 0;
}

.paddingLeft-0 {
	padding-left: 0;
}

/* XXX-Small */

.paddingTop-xxxs {
	padding-top: 12px;
}

.paddingRight-xxxs {
	padding-right: 12px;
}

.paddingBottom-xxxs {
	padding-bottom: 12px;
}

.paddingLeft-xxxs {
	padding-left: 12px;
}

/* XX-Small */

.paddingTop-xxs {
	padding-top: 18px;
}

.paddingRight-xxs {
	padding-right: 18px;
}

.paddingBottom-xxs {
	padding-bottom: 18px;
}

.paddingLeft-xxs {
	padding-left: 18px;
}

/* X-Small */

.paddingTop-xs {
	padding-top: 24px;
}

.paddingRight-xs {
	padding-right: 24px;
}

.paddingBottom-xs {
	padding-bottom: 24px;
}

.paddingLeft-xs {
	padding-left: 24px;
}

/* Small */

.paddingTop-s {
	padding-top: 36px;
}

.paddingRight-s {
	padding-right: 36px;
}

.paddingBottom-s {
	padding-bottom: 36px;
}

.paddingLeft-s {
	padding-left: 36px;
}

/* Medium */

.paddingTop-m {
	padding-top: 60px;
}

.paddingRight-m {
	padding-right: 60px;
}

.paddingBottom-m {
	padding-bottom: 60px;
}

.paddingLeft-m {
	padding-left: 60px;
}

/* Large */

.paddingTop-l {
	padding-top: 84px;
}

.paddingRight-l {
	padding-right: 84px;
}

.paddingBottom-l {
	padding-bottom: 84px;
}

.paddingLeft-l {
	padding-left: 84px;
}

/* X-Large */

.paddingTop-xl {
	padding-top: 126px;
}

.paddingRight-xl {
	padding-right: 126px;
}

.paddingBottom-xl {
	padding-bottom: 126px;
}

.paddingLeft-xl {
	margin-left: 126px;
}
